.os-dialog {
  // os-dialog-mask
  // &-mask {
  //   background-color: transparent;
  // }
  &-wrap {
    top: 20%;
    min-width: 320px;
    max-width: 500px;
    border-radius: 16px;
    text-align: center;
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > header {
      border-bottom: none;
      padding-bottom: 4px;
    }
    > p {
      padding: 0 24px;
    }
    > footer {
      justify-content: center;
      padding: 12px 0px;
      margin-top: 24px;
      width: 100%;
    }
  }
  // os-dialog-icon
  &-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    &-confirm {
      background-color: var.$dialog-confirm;
    }
    &-info {
      background-color: var.$dialog-info;
    }
    &-warning {
      background-color: var.$dialog-warning;
    }
    &-error {
      background-color: var.$dialog-error;
    }
    &-success {
      background-color: var.$dialog-success;
    }

    .os-icon-path {
      stroke: var.$white;
    }
    .os-icon-fill {
      fill: var.$white;
    }
  }
}
